@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH2FontStyles;
  font-family: 'Architects Daughter';
  color: var(--matterColorRed);
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
  @media (--viewportMedium) {
  font-size: 60px;
  }
  @media (--viewportLarge) {
  font-size: 60px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.stepText {
  font-family: 'Times New Roman';
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
  }

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  @apply --marketplaceH2FontStyles;
  font-family: 'Architects Daughter';
  color: var(--matterColorBlue);
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 30px;
  @media (--viewportMedium) {
  font-size: 34px;
  margin-top: 5px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 18px;
  @media (--viewportMedium) {
    margin-top: 24px;
  }
}
.iconImage {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: contain;
  margin: 32px 0 10px;
}

/* Shared animation rules */
.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}

.howitworksButton {
  @apply --marketplaceButtonStyles;
  font-size: 24px;
  line-height: 26px;
  padding: 7px 0 7px 0;
  font-family: "architects daughter";
  border-radius: 15px;
  margin: auto;
  width: 150px;
  height: 65px;
  margin-bottom: 30px;

  @media (--viewportMedium) {
    display: block;
    width: 160px;
    margin-bottom: 20px;
  }
}
