{:format :v3,
 :transitions
 [{:name :transition/enquire,
   :actor :actor.role/customer,
   :actions [],
   :to :state/enquiry}
  {:name :transition/request-payment-after-enquiry,
   :actor :actor.role/customer,
   :actions
   [{:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :from :state/enquiry,
   :to :state/payment-pending
   :privileged? true}
  {:name :transition/expire-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/payment-pending]}
     {:fn/period ["PT15M"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/payment-pending,
   :to :state/payment-expired}
  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions [{:name :action/stripe-confirm-payment-intent},
   {:name :action/stripe-capture-payment-intent},
    {:name :action/stripe-create-payout}],
   :from :state/payment-pending,
   :to :state/enquiry}],
 :notifications
 [{:name :notification/money-paid,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :money-paid}]}
