{:format :v3,
 :transitions
 [{:name :transition/enquire,
   :actor :actor.role/customer,
   :actions [],
   :to :state/enquiry}
  {:name :transition/request-payment-after-enquiry,
   :actor :actor.role/provider,
   :actions [],
   :from :state/enquiry,
   :to :state/payment-requested}
   {:name :transition/payment-after-enquiry,
   :actor :actor.role/customer,
   :actions [],
   :from :state/enquiry,
   :to :state/payment-pending}
   {:name :transition/payment-after-request,
   :actor :actor.role/customer,
   :actions [],
   :from :state/payment-requested,
   :to :state/payment-pending},
   {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions [],
   :from :state/payment-pending,
   :to :state/enquiry},
   {:name :transition/payment-error,
   :actor :actor.role/customer,
   :actions [],
   :from :state/payment-pending,
   :to :state/enquiry}],
 :notifications
 [{:name :notification/money-paid-after-request,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :money-paid},
   ]}
