@import '../../styles/propertySets.css';

/* Animation for the hero elements */

@keyframes animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

/* Shared animation rules */
.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}

.root {
  @apply --backgroundImage;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Text positioning is done with paddings */
}

.heroContent {
  margin: 0 24px 0 24px;
  @media (--viewportMedium) {
    margin: 0 7.5vw 0 7.5vw;
  }

  /* Special viewport for adjusting the heroContent's placement */

  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    padding: 0 36px 0 36px;
  }

  @media only screen and (min-width: 1367px) {
    margin: 0 auto;
    max-width: calc(1052px + 36px + 36px);
    width: 100%;
    padding: 0 36px 0 36px;
  }
}

.heroMainTitle {
  @apply --marketplaceHeroTitleFontStyles;
  font-size: 48px;
  line-height: 50px;
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 5px;
  color: var(--matterColorRed);
  composes: animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    font-size: 76px;
    line-height: 76px;
    font-weight: 400;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    color: var(--matterColorRed);
  }
}

.heroMainTitle2 {
  @apply --marketplaceHeroTitleFontStyles;
  margin-top: -5px;
  font-weight: 400;
  color: var(--matterColorGreen);
    composes: animation;
  animation-delay: 0.5s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
  }
}

.heroSubTitle {
  @apply --marketplaceH2FontStyles;
  font-family: 'TimesNewRoman';
  font-style: italic;
  color: var(--matterColorDark);
  margin: 0 20px 22px 0;
  font-size: 22px;
  composes: animation;
  animation-delay: 0.65s;

  @media (--viewportMedium) {
    max-width: var(--SectionHero_desktopTitleMaxWidth);
    margin: 0 200px 20px 0;
    font-size: 32px;
  }
}

.searchFormHero {
  max-width: 400px;
  padding-left: 10px;
  margin: 0px auto 40px 0px;
  font-size: 18px;
  border-bottom-width: 0px;
  background-color: var(--matterColorLight);
  border-width: 0px;
  border-radius: 15px;
  box-shadow: var(--boxShadowHeroSearch);

  @media (--viewportMedium) {
    margin-top: 24px;
  max-width: 500px;
    font-size: 20px;
  }
}
.heroButton {
  @apply --marketplaceButtonStyles;
  border-radius: 15px;
  margin-bottom: 100px;
  width: 170px;
  height: 40px;
  composes: animation;

  animation-delay: 0.8s;

  @media (--viewportMedium) {
    display: block;
    width: 200px;
    margin-bottom: 200px;
  }
}
