@import '../../styles/customMediaQueries.css';

.title {
  composes: h1 from global;
  margin-top: 0;
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}
