.root {
}

.input {
  border-bottom-color: var(--attentionColor);
}

.inputSuccess {
  border-bottom-color: var(--successColor);
}

.inputError {
  border-bottom-color: var(--failColor);
}

.textarea {
  min-height: 8rem;
  border: solid;
  border-width: 2px;
  margin-top: 2px;
  padding: 0.5rem;
}

.textarea.inputSuccess {
  border-color: var(--successColor);
}
