/*
If you need to add css to the Logo you can do it here.

.logoMobile {
}
*/
.logoDesktop {
    width: 331px;
    height: 80px;
    margin-left: -20px;
    margin-top: -30px;
}

.logoMobile {
    height: 25px;
}