.mainWrapper {
  width: calc(100% - 48px);
  max-width: 100%;
  margin: 24px auto;

  @media (--viewportMedium) {
    max-width: 80%;
    width: calc(100% - 72px);
    margin: 72px auto 36px auto;
  }
}

.coverImage{
  max-width: 100%;
}