@import '../../styles/customMediaQueries.css';

.topbar {
  z-index: 1; /* ensure that Topbar shadow overlays content background */
}

.mobileTopbar {
  /* Size */
  width: 100%;
  height: var(--topbarHeight);

  /* Layout for child components */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* fill */
  background-color: var(--matterColorLight);

  /* shadows */
  box-shadow: none;

  @media (--viewportMedium) {
    display: none;
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;

  @media (--viewportLarge) {
    box-shadow: var(--boxShadowLight);
  }
}

.wrapper {
  height: calc(100vh - var(--topbarHeight));
  padding-top: 40px;
}

.navigation {
  /* Layout */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  padding: 29px 24px 0 24px;
  width: 25rem;
  max-height: calc(100vh - var(--topbarHeight));

  border-top-width: 1px;
  border-top-color: var(--matterColorNegative);
  border-top-style: solid;
  background-color: var(--matterColorLight);
  box-shadow: var(--boxShadow);

  @media (--viewportMedium) {
    padding: 24px 24px 0 24px;
  }

  @media (--viewportLarge) {
    padding: 113px 0 82px 36px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  @media (--viewportLargeWithPaddings) {
    padding: 40px 0 0px 0;
  }
}

.title {
  /* Font */
  color: var(--matterColor);
  display: flex;
  justify-content: center;

  /* Layout */
  margin-top: 0;
  margin-bottom: 0;

  padding-bottom: 10px;

  @media (--viewportMedium) {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (--viewportLarge) {
    padding-bottom: 0;
  }
}

.tabs {
  padding-top: 2px;

  display: flex;
  flex-direction: row;
  /* overflow-x: auto; */

  @media (--viewportMedium) {
    padding-top: 12px;
    padding-top: 20px;
  }

  @media (--viewportLarge) {
    /* padding-top: 53px; */
    /* flex-direction: column; */
  }
}

.tab {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  @media (--viewportLarge) {
    margin-left: 0;
  }
}

.tabContent {
  display: none;
}

.tabContentVisible {
  display: block;
}

.error {
  color: var(--failColor);
  margin: 23px 24px 24px 24px;

  @media (--viewportLarge) {
    margin-top: 18px;
  }
}

.noResults {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 1px;

  @media (--viewportLarge) {
    margin-top: 6px;
  }
}

.itemList {
  margin-top: 20px;
  padding-inline: 10%;
  display: flex;
  max-height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

@keyframes loadingSpinnerFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.listItemsLoading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  opacity: 0;

  /* animation shorthand property doesn't work with local scope of CSS Modules */
  animation-duration: 1s;
  animation-name: loadingSpinnerFadeIn;
  animation-fill-mode: forwards;
}

.listItem {
  /* Layout */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  min-height: 6rem;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--matterColorNegative);

  &:last-child {
    border-bottom: none;
  }

  @media (--viewportLarge) {
    margin-bottom: 16px;
    padding-bottom: 7px;
  }
}

.avatarBase {
  font-family: 'poppins', Helvetica, Arial, sans-serif;
  border-radius: 50%;

  /* Position possible initials to the center of the component */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors */
  background-image: linear-gradient(
    -180deg,
    var(--marketplaceColorLight) 0%,
    var(--marketplaceColor) 100%
  );
  color: var(--matterColorLight);

  &:hover {
    text-decoration: none;
  }
}

/* Small Avatar */

.avatarRoot {
  composes: avatarBase;

  /* Layout */
  width: 100%;
  height: 100%;
}

.itemInfo {
  composes: h5 from global;

  font-weight: var(--fontWeightSemiBold);

  /* Layout */
  flex-grow: 1;
  flex: 1;
  flex-direction: column;

  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 4px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }

  color: var(--matterColor);
}

.bookingInfoWrapper {
  composes: marketplaceTinyFontStyles from global;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 14px;
  margin-top: 2px;
  padding-top: 2px;

  @media (--viewportMedium) {
    padding-top: 0px;
    margin-top: 2px;
    line-height: 16px;
  }
}

.itemPrice {
  &::before {
    font-size: 10px;
    margin: 0 6px;
    display: inline-block;
    content: '\25CF'; /* middot */
  }
}

.pagination {
  margin: auto 24px 0 24px;
}

/* Transaction status affects to certain font colors and weights */

.stateName {
  /* This class is empty on purpose, it is used below for banned users */
}

.stateActionNeeded {
  font-weight: var(--fontWeightSemiBold);
  color: var(--attentionColor);
}

.stateNoActionNeeded {
  color: var(--matterColorAnti);
}

.stateSucces {
  font-weight: var(--fontWeightSemiBold);
  color: var(--successColor);
}

.nameEmphasized {
  font-weight: var(--fontWeightBold);

  /* baseline alignment fixes */
  margin-top: -1px;
  margin-bottom: 1px;
}

.bookingActionNeeded {
  color: var(--matterColor);
  margin-top: 4px;

  @media (--viewportMedium) {
    margin-top: 9px;
  }
}

.bookingNoActionNeeded {
  color: var(--matterColorAnti);
}

.lastTransitionedAtEmphasized {
  color: var(--matterColor);
  font-weight: var(--fontWeightMedium);
}

.lastTransitionedAtNotEmphasized {
  color: var(--matterColorAnti);
}

.navPlaceholder {
  @media (--viewportMedium) {
    width: 240px;
  }
}
