.caddie_list_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 60%;
    column-gap: 10px;
    row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.caddie_list_card{
    padding: 5px;
    border: 1px solid gray;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.avatar_Image{
    width: 80px;
}

.caddie_Details_Box{
    margin-left: 12px;
}