.root {
}

.avatarContainer {
  display: flex;
  float: left;
  text-decoration: none;
}

.avatarLink {
  &:hover {
    text-decoration: none;
  }
}

.usernameContainer {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  font-size: 60px;
}
