.root {
  display: flex;
}

.avatarContainer {
  display: flex;
  float: left;
  text-decoration: none;
}

.avatarLink {
  &:hover {
    text-decoration: none;
  }
}

.usernameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 2rem;
  font-size: 60px;
}

.paymentButtonContainer {
  display: flex;
  align-items: center;
  width: 13rem;
  justify-content: center;
}

.paymentButton {
  padding-block: 0;
}

.paymentButtonRoot {
  composes: buttonFont buttonText buttonBorders buttonColors from global;

  /* Clear padding that is set for link elements looking like buttons */
  padding: 0;
  height: 2.5rem;
  width: 8rem;

  transition: all var(--transitionStyleButton);
  cursor: pointer;
}
