@import '../../styles/customMediaQueries.css';

.content {
  @media (--viewportMedium) {
    margin: 32px auto 0 auto;
    max-width: 564px;
  }

  @media (--viewportLarge) {
    margin: 0;
  }
}

.title {
  margin-top: 8px;
  margin-bottom: 19px;

  @media (--viewportMedium) {
    margin-bottom: 36px;
  }
}

.wizard,
.placeholderWhileLoading {
  flex-grow: 1;
}

