@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media (--viewportMedium) {
    margin: 32px auto 0 auto;
  }

  @media (--viewportLarge) {
    margin: 0;
  }
}

.form {
  display: block;
}

.title {
  margin-top: 8px;
  margin-bottom: 19px;

  @media (--viewportMedium) {
    margin-bottom: 36px;
  }
}

.wizard,
.placeholderWhileLoading {
  flex-grow: 1;
}
