.mainRoot {
}

.fieldRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.button {
  margin-inline: 1.5rem;
  width: 3rem;
  font-size: xx-large;
  min-height: 3rem;
  @media (--viewportMedium) {
    min-height: 3rem;
  }
}

.count {
  display: block;
  text-align: center;
  justify-content: center;
  width: 4rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.largeCount {
  font-size: xx-large;
}

.fieldLabel {
  margin-bottom: 1rem;
}
