.mainRoot {
}

.fieldRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.button {
  margin-inline: 1rem;
  width: 4rem;
  font-size: xx-large;
}

.count {
  font-size: xx-large;
}

.mileageLabel {
  display: block;
}

.fieldLabel {
  margin-bottom: 1rem;
}
